body {
    margin: 0;
    font-family: Arial, sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 3em;
}

p {
    font-weight: 500;
    font-size: 1.1em;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 0; /* Updated padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Ensure the navbar stays above other content */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the navbar */
}

.logo img {
    height: 40px; /* Adjust according to your logo size */
    margin-left: 20px; /* Add margin to the left of the logo */
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline; /* Display the list items inline (inline adalah sebaris ) */
    margin-right: 20px;
}

.nav-links li:first-child{
    margin-left: 4em;
}

.nav-links li:last-child { 
    margin-right: 4em;
}

.nav-links li a {
    color:black;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 20px; /* Added padding */
    margin: 0.2em;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.nav-links li a:hover {
    color: #e01252;
    font-size: 1.5em;
}

/* Body */

.main-body {
    margin-left: 7em;
    margin-right: 7em;
    height: auto;
    background-color: #fff;
}

.container {
    max-height: 150vh;
}

#about-us {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    text-align: center
}

.subtopic{
    color: #e01252;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 1em;
}

.subtopic h2 {
    font-size: 2em;
}

#sub-about{
    border-bottom: 10px solid black;
    margin-top: 2vh;
}

#about-us h1 {
    color: #e01252;
    margin-bottom: 4vh;
}

#history {
    margin-top: 10vh;
}

.hist-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#hist-text {
    width: 50%;
    text-align: left;
}

.hist-img-sub {
    flex: 1;
    align-items: center;
    margin-left: 5em;
}

.hist-img img{
    align-items: center;
}

.img-sub {
    align-items: center;
}

.img-sub p {
    font-size: 1em;
}

.subtopic-text {
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
}

.subtopic-text li {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1em;
}

/* footer */
.footer {
    margin-top: 3em;
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.foot-logo img {
    width: 20vw;
    height: 4.3vw;
}

.foot-flex {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 1vh;
}

.foot-social {
    width: 20vw;
    color: white;
}

.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2em;
    margin-left: 2.5vw;
    margin-top: 2%;
}

.foot-directory{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    margin-left: 10vw;
    font-family: "Work Sans", sans-serif;
}

.foot-directory :last-child{
    margin-right: 2vw;
}

.foot-directory h3 a{
    margin-bottom: 1em;
    color: white;
    text-decoration: none;
}

.foot-directory h4 a{
    margin-bottom: 1em;
    color: white;
    text-decoration: none;
}

.foot-rights{
    text-align: center;
    margin-top: 1em;
    font-family: "Work Sans", sans-serif;
    color: white;
    font-weight: 600;
}